label {
    font-family: "Montserrat", sans-serif;
    position: relative;
    cursor: pointer;
    padding-left: 32px;
    font-size: 0.9rem;
}

span {
    vertical-align: top;
    line-height:20px;
    display: inline-block;
}

label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    border-radius: 0.25rem;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #B6C7CF;
    background-color: transparent;
}

.checkmark.circular{
    border-radius: 100%;
}

label:hover input ~ .checkmark {
    background-color: #FBFBFB;
}

label input:checked ~ .checkmark {
    border-color: #1C94D2;
    background-color: #1C94D2;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

label input:checked ~ .checkmark:after {
    display: block;
}

label .checkmark:after {
    left: 5px;
    top: 1px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.small{
    margin-top: -5px;
}