.hire_lft_con.step5_bg {
  background: url(../Stories/assets/hiring-step-background.svg) no-repeat center center !important;
  background-size: 100% 100% !important;
  justify-content: center !important;
  align-content: center;
}

.hire_lft_con.success_lft_back {
  background-image:  url(../Stories/assets/success_left.svg) !important;
  background-color: #20536f !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 100% 100% !important;
  justify-content: center !important;
  align-content: center;
}

.step5_bg h1 {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
  position: relative;
  width: 100%;
  text-align: center;
}
.step5_bg h1:after {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  content: "";
  background: #fff;
  width: 60px;
  height: 2px;
}
.step5_bg p {
  font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    width: 100%;
    text-align: center;
}
.step5_bg p span {
  color: #398bc8;
}
.step5_bg ul {
  margin: 40px 0 0;
  padding: 0;
  list-style: none;
}
.step5_bg ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  /* padding-top: 46px; */
  padding-bottom: 60px;
}
.step5_bg ul li:last-child {padding-bottom: 0px !important;}
.step5_bg ul li:before {
  content: "";
  background: url(../Stories/assets/step-five-li-sep.svg) no-repeat;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 37px;
  display: none;
}
.step5_bg ul li span.icon {
  width: 100%;
  text-align: center;
}
.step5_bg ul li span.icon img {
  max-width: 65px;
}
.step5_bg ul li p {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  color: #fcfcfc;
  margin: 0;
  padding: 10px 0 0 0;
}



.success_rgt_wrapper {display: flex; align-items: center;}
.success_con_wrapper {display: flex; align-items: center; flex-wrap: wrap; justify-content: center;}
.success_con_wrapper .success_msg_logo {width: 100%; display: flex; align-items: center; justify-content: center; padding-bottom: 80px;}
.success_con_wrapper .success_content {width: 100%; display: flex; align-items: center; flex-wrap: wrap; justify-content: center; padding: 40px 0 0 0;}
.success_con_wrapper .success_content .success_logo {width: 100%; display: flex; align-items: center; flex-wrap: wrap; justify-content: center;}
.success_con_wrapper .success_content h1 {width: 100%; display: flex; align-items: center; flex-wrap: wrap; justify-content: center; margin: 0; padding: 0 0 20px 0; font-weight: 300; font-size: 60px; color: #343C44;}
.success_con_wrapper .success_content p {width: 100%; display: flex; align-items: center; flex-wrap: wrap; justify-content: center; font-weight: normal; font-size: 24px; color: #343C44; text-align: center;}
.success_con_wrapper .success_content button.success_cta_btn {background: #1C94D2; box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04), 0px 2px 4px rgba(52, 60, 68, 0.16); border-radius: 4px; padding: 10px 20px; border: none; font-weight: normal; font-size: 16px; line-height: 28px; color: #FBFBFB;}
.success_con_wrapper .success_content ul {width: 100%; display: flex; align-items: center; flex-wrap: wrap; justify-content: center; margin: 0; padding: 70px 0 0 0; list-style: none;}
.success_con_wrapper .success_content ul li {display: inline-flex; align-items: center; flex-wrap: wrap; padding-right: 20px;}
.success_con_wrapper .success_content ul li:last-child {padding-right: 0;}

.success_con_wrapper .success_content button.success_cta_btn:focus{outline: 0;}
.success_msg_logo img {max-width: 100%;}

@media only screen and (min-width: 0px) and (max-width: 575px) {
  #hire_talent_content .hire_tal_con_wrapper .hire_rht_con {
    padding: 30px 0;
    /* height: 100%; */
  }
  .hire_lft_con.step5_bg {
    display: none !important;
  }
  .hire_rht_con.step_five_content {
    width: 100% !important;
  }
  #hire_talent_content
    .hire_tal_con_wrapper
    .hire_rht_con.step_five_content
    .inner_rht_content {
    padding-right: 8.333333%;
  }

  #hire_talent_content.step_five_close_btn .close {
    top: 15px;
    right: 15px;
  }


  .hire_lft_con.step5_bg {display: none !important;}
  .hire_rht_con.step_success_content {height: 100% !important;}
  .success_con_wrapper .success_msg_logo {padding-bottom: 0;}
  .success_con_wrapper .success_content .success_logo img {max-width: 60px;}
  .success_con_wrapper .success_content h1 {font-size: 45px;}
  .success_con_wrapper .success_content p {font-size: 19px;}
  .success_con_wrapper .success_content ul {display: none;}
  .hire_lft_con.success_lft_back {display: none !important;}
  .success_con_wrapper {padding: 30px 0;}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  #hire_talent_content .hire_tal_con_wrapper .hire_rht_con {
    padding: 50px 0;
    height: inherit !important;
  }
  .hire_lft_con.step5_bg {
    display: none !important;
  }
  .hire_rht_con.step_five_content {
    width: 100% !important;
  }
  #hire_talent_content
    .hire_tal_con_wrapper
    .hire_rht_con.step_five_content
    .inner_rht_content {
    padding-right: 8.333333%;
  }

  #hire_talent_content.step_five_close_btn .close {
    top: 30px;
    right: 30px;
  }
  .hire_lft_con.step5_bg {display: none !important;}
  .hire_rht_con.step_success_content {height: 100% !important;}
  .success_con_wrapper .success_msg_logo {padding-bottom: 0;}
  .success_con_wrapper .success_content .success_logo img {max-width: 80px;}
  .hire_lft_con.success_lft_back {display: none !important;}
  .success_con_wrapper {padding: 30px 0;}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hire_lft_con.step5_bg {
    display: none !important;
  }
  .hire_rht_con.step_five_content {
    width: 100% !important;
  }
  #hire_talent_content
    .hire_tal_con_wrapper
    .hire_rht_con.step_five_content
    .inner_rht_content {
    padding-right: 8.333333%;
  }

  #hire_talent_content .close {
    right: 20px;
    top: 20px;
  }

  .hire_lft_con.step5_bg {display: none !important;}
  .hire_rht_con.step_success_content {height: 100% !important;}
  .success_con_wrapper .success_msg_logo {padding-bottom: 0;}
  .success_con_wrapper .success_content .success_logo img {max-width: 80px;}
  .hire_rht_con.step_success_content {width: 100% !important;}
  .hire_lft_con.success_lft_back {display: none !important;}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* .hire_lft_con.step5_bg {
    display: none !important;
  } */
  .hire_rht_con.step_five_content {
    width: 100% !important;
  }
  #hire_talent_content
    .hire_tal_con_wrapper
    .hire_rht_con.step_five_content
    .inner_rht_content {
    padding-right: 8.333333%;
    max-width: calc(100% - 8.333333%);
  }

  .success_con_wrapper .success_msg_logo {padding-bottom: 0;}
}

@media only screen and (min-width: 0px) and (max-width: 570px) and (orientation: landscape) {
  #hire_talent_content .hire_tal_con_wrapper .hire_rht_con .inner_rht_content {height: auto !important;}
  .inner_rht_content .steps_content, .inner_rht_content .steps_content ul {overflow: visible !important; max-height: inherit;}
  #hire_talent_content .hire_tal_con_wrapper .hire_rht_con .inner_rht_content .buttons_wrapper {position: inherit;}
  #hire_talent_content .hire_tal_con_wrapper .hire_rht_con {height: auto;}
}
